body {
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input.searchTerm {
  text-align:right;
  padding-right:5px;
  background-color:red;
  color:#fff;

}
#linear { 
  background:goldenrod;
  color:#000;
}
#binary { 
  background:green;
  color:#eee;
}
